.singleGame {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 75px);
}

.singleGame__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.play__title {
  height: 120px;
}
.singleGame__top__btn {
  margin-top: 30px;
  border: 2px solid;
  background-color: white;
  border-image: repeating-linear-gradient(
      135deg,
      #f8ca00 0 10px,
      #e97f02 0 20px,
      #bd1550 0 30px
    )
    8;
  mask: conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, #000 0)
      var(--_i, 200%) 0 /200% var(--_i, 2px) border-box no-repeat,
    conic-gradient(at bottom 2px left 2px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 2px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, mask-position 0.3s 0.3s;
}
.singleGame__top__btn:hover {
  --_i: 100%;
  color: #cc333f;
  transition: 0.3s, mask-size 0.3s 0.3s;
  cursor: pointer;
}
@media only screen and (max-width: 520px) {
  .play__title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 521px) {
  .play__title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 700px) {
  .play__title {
    font-size: 50px;
  }
}
