.game {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: auto;
  height: calc(100vh - 75px);
}
@media screen and (max-width: 520px) {
  .game {
    height: calc(100vh - 80px);
  }
}
.game__cards {
  position: relative;
  z-index: 19;
}
.game__failed {
  position: absolute;
  color: red;
  border: solid red 2px;
  padding-left: 15px;
  padding-right: 15px;

  transform: rotate(-25deg);
  z-index: 20;
}
.game__win {
  position: absolute;
  color: green;
  border: solid green 2px;
  padding-left: 15px;
  padding-right: 15px;
  transform: rotate(-25deg);
  z-index: 20;
}
@media only screen and (max-width: 450px) {
  .game {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    overflow: auto;
  }
  .game__failed {
    font-size: 60px;
    left: 40px;
    top: 70px;
  }
  .game__win {
    font-size: 60px;
    left: 50px;
    top: 70px;
  }
}
@media only screen and (min-width: 451px) {
  .game__failed {
    font-size: 80px;
    top: 300px;
  }
  .game__win {
    font-size: 80px;
    top: 300px;
  }
}
