.singleGame {
  overflow: auto;
  display: flex;

  flex-direction: column;
  width: 100%;
  height: calc(100vh - 75px);
}
.singleGame__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.singleGame__top__btn {
  border: 2px solid;
  background-color: white;
  border-image: repeating-linear-gradient(
      135deg,
      #f8ca00 0 10px,
      #e97f02 0 20px,
      #bd1550 0 30px
    )
    8;
  mask: conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, #000 0)
      var(--_i, 200%) 0 /200% var(--_i, 2px) border-box no-repeat,
    conic-gradient(at bottom 2px left 2px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 2px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, mask-position 0.3s 0.3s;
}
.singleGame__top__btn:hover {
  --_i: 100%;
  color: #cc333f;
  transition: 0.3s, mask-size 0.3s 0.3s;
  cursor: pointer;
}
.singleGame__middle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.singleGame__middle__pk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singleGame__middle__pk__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
@media screen and (max-width: 1342px) {
  .singleGame__middle__pk__top {
    flex-direction: column;
  }
}
.singleGame__middle__pk__defense {
  color: green;
  position: absolute;
  animation: number 2s linear infinite,
    sideWays 2s ease-in-out infinite alternate, number-appear 2s linear infinite;
}
.singleGame__middle__pk__attack {
  color: red;
  position: absolute;

  animation: number 1.6s linear infinite,
    sideWays 1.5s ease-in-out infinite alternate,
    number-appear 1.6s linear infinite;
}
@keyframes number-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 60px;
  }
  100% {
    margin-left: 80px;
  }
}

@keyframes number {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: -20px;
  }
}

.singleGame__middle__pk img {
  position: relative;
  width: 150px;
}
.singleGame__middle__pk__left__img {
  transform: scaleX(-1);
}
.singleGame__middle__pk__VS {
  font-size: 50px;
}
.singleGame__middle__pk__VS:hover {
  cursor: pointer;
  background: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  color: transparent;
  background-clip: text;
}
.singleGame__middle__pk__pokemon {
  position: relative;
  z-index: 19;
}
.singleGame__middle__pk__failed {
  position: absolute;
  font-size: 80px;
  color: red;
  border: solid red 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 300px;
  transform: rotate(-25deg);
  z-index: 20;
}
.singleGame__middle__pk__win {
  position: absolute;
  font-size: 80px;
  color: green;
  border: solid green 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 300px;
  transform: rotate(-25deg);
  z-index: 20;
}
.pk__bottom__btn {
  width: 100px;
  margin-bottom: 30px;
  border: solid gray 1px;
  background-color: white;
}
.pk__bottom__btn:hover {
  cursor: pointer;
}
