.App {
  display: block;
  height: 100vh;
}
.app__bar {
  height: 50px;
  background-color: rgb(230, 226, 243);
}
.app__middle {
  display: flex;
  height: calc(100vh - 75px);
}
.app__middle__side {
  width: 80px;
  background-color: lightcyan;
}
.app__middle__right {
  width: calc(100% - 80px);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 1;
}
@media screen and (max-width: 370px) {
  .app__middle__side {
    display: none;
  }
  .app__middle__right {
    width: 100%;
  }
}
.app__foot {
  height: 25px;
  background-color: lightblue;

  z-index: 999;
}
